---
import LogOutButton from "@domain/user/components/features/LogOutButton/index.astro"

type Props = {
  isLoggedIn: boolean
}

const { isLoggedIn } = Astro.props
---

<header class="border-b-2 border-gray-900 flex justify-between items-center py-6 px-8">
  <h1 class="text-3xl"><a href="/">Astro app with Alpine.js and htmx</a></h1>
  <nav class="text-2xl">
    <ul class="flex justify-between items-center gap-6">
      <li><a href="/" class="hover:text-gray-500">Home</a></li>
      <li class="hover:text-gray-500">
        {isLoggedIn ? <LogOutButton /> : <a href="/login">Login</a>}
      </li>
    </ul>
  </nav>
</header>
