---
import LoginButton from "@domain/user/components/features/LoginButton/index.astro"
---

<header>
  <h1>Astro App with alpine.js and htmx</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><LoginButton /></li>
    </ul>
  </nav>
</header>
