---
import type { News } from "@domain/news/model"

type Props = News

const { id, title, summary, createdAt } = Astro.props
---

<article class="rounded-md border-2 border-gray-300 py-4 px-6">
  <a href={`/news/${id}`} class="hover:text-gray-500">
    <header>
      <h3 class="text-xl">
        {title}
      </h3>
      <p class="text-base text-gray-500">{createdAt}</p>
    </header>
    <p class="text-lg mt-2">{summary}</p>
  </a>
</article>
