---
import Document from "@shared/components/layouts/Document/index.astro"
import Header from "@domain/user/components/elements/Header/index.astro"
import ImageCarousel from "@shared/components/features/ImageCarousel/index.astro"
import Container from "@shared/components/layouts/Container/index.astro"
import NewsCard from "@domain/news/components/elements/NewsCard/index.astro"

import image from "./images/sample.jpeg"
import type { News } from "@domain/news/model"

const images = [
  {
    src: image,
    alt: "sample1",
  },
  {
    src: image,
    alt: "sample2",
  },
  {
    src: image,
    alt: "sample3",
  },
  {
    src: image,
    alt: "sample4",
  },
  {
    src: image,
    alt: "sample5",
  },
  {
    src: image,
    alt: "sample6",
  },
]

type Props = {
  isLoggedIn: boolean
  news: News[]
}

const { isLoggedIn, news } = Astro.props
---

<Document title="HOME">
  <Header {isLoggedIn} />
  <Container>
    <p class="text-3xl text-center">Well come to sample web page. This is Top page.</p>
    <section class="mt-16">
      <h2 class="text-2xl">Dummy carousel</h2>
      <div class="mt-10">
        <ImageCarousel {images} />
      </div>
    </section>
    <section class="mt-16">
      <h2 class="text-2xl">News</h2>
      <ul class="mt-10">
        {
          news.map((item) => (
            <li class="[&:not(:first-child)]:mt-4">
              <NewsCard {...item} />
            </li>
          ))
        }
      </ul>
    </section>
  </Container>
</Document>
