---
import Document from "@shared/components/layouts/Document/index.astro"
import Header from "@domain/user/components/elements/Header/index.astro"
import ImageCarousel from "@shared/components/features/ImageCarousel/index.astro"
import Container from "@shared/components/layouts/Container/index.astro"
import NewsCard from "@domain/news/components/elements/NewsCard/index.astro"

import image1 from "./images/book_gijutsusyo_it_set.png"
import image2 from "./images/computer_programming_man.png"
import image3 from "./images/koukoku_web_pc.png"
import image4 from "./images/paralympic_alpine.png"
import type { News } from "@domain/news/model"

const images = [
  {
    src: image1,
    alt: "book_gijutsusyo_it_set",
  },
  {
    src: image2,
    alt: "computer_programming_man",
  },
  {
    src: image3,
    alt: "koukoku_web_pc",
  },
  {
    src: image4,
    alt: "paralympic_alpine",
  },
]

type Props = {
  isLoggedIn: boolean
  news: News[]
}

const { isLoggedIn, news } = Astro.props
---

<Document title="HOME">
  <Header {isLoggedIn} />
  <Container>
    <p class="text-3xl text-center">Well come to sample web page. This is Top page.</p>
    <section class="mt-16">
      <h2 class="text-2xl">Dummy key visual</h2>
      <ImageCarousel {images} />
    </section>
    <section class="mt-16">
      <h2 class="text-2xl">News</h2>
      <ul class="mt-10">
        {
          news.map((item) => (
            <li class="[&:not(:first-child)]:mt-4">
              <NewsCard {...item} />
            </li>
          ))
        }
      </ul>
    </section>
  </Container>
</Document>
