<form class="max-w-[900px] m-auto border-2 border-gray-500 rounded px-20 py-10 text-xl">
  <div>
    <label class="align-middle">
      <span class="inline-block w-24">email</span>: <input
        type="text"
        name="email"
        placeholder="email@example.com"
        class="border-2 border-gray-500 rounded w-80"
      />
    </label>
  </div>
  <div class="mt-6">
    <label class="align-middle">
      <span class="inline-block w-24">password</span>: <input type="password" name="password" class="border-2 border-gray-500 rounded" />
    </label>
  </div>
  <div class="text-center mt-14">
    <button hx-post="/api/login" hx-trigger="click" hx-target="#modal" hx-swap="outerHTML" class="px-8 py-2 bg-orange-400 rounded-2xl hover:opacity-70"
      >Login</button
    >
  </div>
</form>
<div id="modal"></div>
