---
import Document from "@shared/components/layouts/Document/index.astro"
import Container from "@shared/components/layouts/Container/index.astro"
import EntryForm from "@domain/user/components/features/EntryForm/index.astro"
---

<Document title="Entry">
  <Container>
    <section class="mt-16">
      <h2 class="text-2xl">Entry</h2>
      <p class="text-lg mt-10">This is a dummy user registration form. You can enter any string to log in.</p>
      <p class="text-lg mt-10">
        If you are already a registered member, please login from the <a href="/login" class="text-blue-500">login page</a>
      </p>
      <div class="mt-10"><EntryForm /></div>
      <div class="text-center mt-10">
        <a class="border-b-2 border-gray-500 pb-2 hover:opacity-70" href="/">← back to Home</a>
      </div>
    </section>
  </Container>
</Document>
